.box{
    position:relative;
    border-style: solid;
    border-width: 10px;
    border-color: seagreen;
    background-color:lavenderblush;
    width:300px;
    height:150px;
    margin:10px;

}

.delete{
    position:absolute;
    right:5px;
    bottom:5px;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap; 
}

.head{
    border-bottom: solid 4px #5060d7;
}



.column {
    display: flex;
    flex-direction: column; 
}


.column-right {
    align-items: flex; 
    margin-right: 45%; 
}


.flex-container {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px; 
}


.image{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px; 
}



#提供{
    border-bottom: 10px solid chocolate;
    padding-bottom:0px;
}


/* 全体のフォントサイズを調整 */
#ad h2, #ad h3, #ad li {
    font-size: 2vw; /* ビューポート幅に応じてフォントサイズを調整 */
}

#ad li {
    list-style: none; /* リストの点を消す */
    margin-bottom: 5px;
}

/* 画像を自動調整 */
#ad img {
    max-width: 100%;
    height: auto;
}

/* 親要素 */
#ad {
    position: fixed;
    bottom: 0;
    left: 10vw;
    display: flex;
}
