.head{
    border-bottom: solid 4px #5060d7;
}

.box{
    position:relative;
    border-style: solid;
    border-width: 10px;
    border-color: seagreen;
    background-color:lavenderblush;
    width:300px;
    height:150px;
    margin:10px;

}

.delete{
    position:absolute;
    right:5px;
    bottom:5px;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap; 
}

