.box{
    position:relative;
    border-style: solid;
    border-width: 10px;
    border-color: seagreen;
    background-color:lavenderblush;
    width:300px;
    height:150px;
    margin:10px;

}

.delete{
    position:absolute;
    right:5px;
    bottom:5px;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap; 
}

.head{
    border-bottom: 4px solid rgb(25, 0, 255);
    width: 400px; 
}



.flex-container {
    display: flex;
    flex-wrap: wrap;   /* 行がいっぱいになると次の行に移る */
}

.column {
    width: calc(40% - 60px); /* 2つずつ並ぶように幅を50%に設定 */
    margin-bottom: 30px;      /* 要素の間に少し余白を追加 */
    margin-right: 40px;       /* 隣接する要素の間隔を設定 */
}

.column:nth-child(2n) {
    margin-right: 0;  /* 2つごとに右側の余白を無くす */
}



.image{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px; 
}


#ad img {
    max-width: 100%;
    height: auto;
}

#outline{
    position:fixed;
    right:5%;
}

#ad {
    position: fixed;
    bottom: 0;
    left: 70%;
    display: flex;
}


